/* Sets background scene */
.root {
    -fx-background-image: url("bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    }
/* Used by all labels */
.text {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF;
    }

/* Used by TableView */
.table-row-cell {
    -fx-background-color: linear-gradient(#61a2b1, #2a5058);
    }
.table-row-cell:selected {
    -fx-background-color: black;
}
#table-row-cell {
    -fx-background-color: linear-gradient(#61a2b1, #2a5058);
    }
#table-row-low:selected {
    -fx-background-color: black;
}
#table-row-low
{
    -fx-background-color: red;
}
#table-row-cell:selected {
    -fx-background-color: black;
}
.table-view .column-header {
    -fx-background-color: black;
    -fx-font-weight: bold;
    }

/*Used by all buttons */
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2a5058);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0 , 1 );
    }

/* Used by all buttons */
.button:hover {
    -fx-background-color: linear-gradient(#2a5058, #61a2b1);
    }
/* Used by all text fields */
.text-field {
    -fx-font-size: 9px;
    -fx-text-fill: #305962;
    }
/* Used to format L & R grids */
#left-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    }
/* Used to format New Recipe and Result headers */
#grid-header {
        -fx-font-size: 16px;
        -fx-alignment: CENTER;
        -fx-font-family: "Arial Black";
        -fx-font-style: italic;
        -fx-fill: linear-gradient(#CCCCCC, #33ccff);
        -fx-effect: innershadow( three-pass-box, rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2);
        -fx-effect: dropshadow( three-pass-box, #000000, 10, 0.5, 0, 2 );
    }